<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <div id="app"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
    <script>
      Vue.component('movie-add', {
        template: `
          <div>
            <input type="text" v-model="name" />
            <button @click="onclick"> Add Movie </button>
          </div>
        `,
        data: function () {
          return {
            name: null
          }
        },
        methods: {
          onclick: function () {
           this.$emit('new', {name: this.name})
          }
        }
      })

      Vue.component('movie-item', {
        props: ['movie'], 
        template: `
          <li>
            {{ movie.name }}
          </li>
        `
      })
      Vue.component('movies-list', {
        props: ['movies'],
        template: `
          <ul>
            <movie-item 
              v-for="(movie, index) in movies" 
              :key="index"
              :movie="movie">
            </movie-item>
          </ul>
        `
      })

      const app = new Vue({
        el: "#app",
        data: {
          movies: [
            {name:"The Boy in the Striped Pyjamas", completed: true },
            {name:"MATRIX", completed: false },
            {name:"Interstellar", completed: false },
          ] 
       }, 
       template: `
          <div>
            <movies-list :movies="movies"></movies-list>
            <movie-add @new='addNewMovie' ></movie-add>
          </div>
       `,
        methods: {
          addNewMovie: function (name_movie) {
            this.movies.push(name_movie)
          }
        }

      })
    </script>
</body>
</html>