<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <button v-on:click="changeVisibility" >Show/Hide</button>
    <tv-show-list v-if="show" ></tv-show-list>
    <div v-else>
      No data!
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
  <script>
    Vue.component('tv-show-list', {
      data: function() {
        return{
          tvshows: [
            {name: "The walking dead",  season:"6"},
            {name: "The big bang Theory",  season:"8"},
            {name: "Breaking Bad",  season:"5"}
          ]
        }
      },
      template: `
        <ul>
          <tv-show 
            v-for="(itshow, index) in tvshows" 
            :key="index"
            :name="itshow.name"
            :season="itshow.season">
          </tv-show>
        </ul>
      `
    })
    Vue.component("tv-show", {
      props: {
        name: String,
        season: Number
      },
      template: `
        <li>
          <strong>{{name}}</strong> ({{season}} Seasons)
        </li>
      `
    })
    const app = new Vue({
      el: "#app",
      data: {
        show: true
     },
      methods: {
        changeVisibility : function() {
          this.show = !this.show
        }
      }
    })
  </script>
</body>
</html>